In [1]:
import pandas as pd
import numpy as np

In [2]:
#read in CSV 

df = pd.read_csv("PS_20174392719_1491204439457_log.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()

df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [3]:
# See if what the net balance is to understand data
df['netbalanceOrig'] = df['oldbalanceOrg'] - df['newbalanceOrig']
df['netbalanceDest'] = df['oldbalanceDest'] - df['newbalanceDest']
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,netbalanceOrig,netbalanceDest
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0,9839.64,0.00
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0,1864.28,0.00
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0,181.00,0.00
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0,181.00,21182.00
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0,11668.14,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0,339682.13,-339682.13
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0,6311409.28,0.00
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0,6311409.28,-6311409.27
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0,850002.52,0.00
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0,850002.52,-850002.52

In [4]:
#Understand what are the high low values to determine how to analyze data.  Specifically to see what is the highest transaction amounts.

df.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,netbalanceOrig,netbalanceDest
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06,-2.123056e+04,-1.242947e+05
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03,1.466433e+05,8.129391e+05
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.915268e+06,-1.056878e+08
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.491054e+05
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00,1.015044e+04,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00,1.000000e+07,1.306083e+07

In [5]:
df.groupby(["isFraud", "type"])["amount"].sum()

isFraud  type
0        CASH_IN     2.363674e+11
         CASH_OUT    3.884238e+11
         DEBIT       2.271992e+08
         PAYMENT     2.809337e+10
         TRANSFER    4.792248e+11
1        CASH_OUT    5.989202e+09
         TRANSFER    6.067213e+09
Name: amount, dtype: float64

In [6]:
#size of data set both rows and columns
df.shape

(6362620, 13)

In [7]:
 #Understand which values are merchant and which ones are customer as customer ones most likely to be fraudulent

def check_string(input):
    if input.startswith("M"):
        return 0
    else:
        return 1

df["M or C"] = df["nameDest"].apply(lambda x:check_string(x))
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,netbalanceOrig,netbalanceDest,M or C
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0,9839.64,0.00,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0,1864.28,0.00,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0,181.00,0.00,1
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0,181.00,21182.00,1
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0,11668.14,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0,339682.13,-339682.13,1
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0,6311409.28,0.00,1
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0,6311409.28,-6311409.27,1
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0,850002.52,0.00,1
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0,850002.52,-850002.52,1

In [8]:
#Determine if merchant or client data
df["M or C"].value_counts()

1    4211125
0    2151495
Name: M or C, dtype: int64

In [9]:

#Accounts that are emptied of all their funds are predominantly fraudulent in this data set.  So we are looking for zero values
df["ZeroBal"]= np.where(df["newbalanceOrig"]==0, 1, 0)
#Transactions that are greater than P75 or $200000 are also flagged as potential frauds
df["LargeTrans"]= np.where(df["newbalanceOrig"]>=200000, 1, 0)

df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,netbalanceOrig,netbalanceDest,M or C,ZeroBal,LargeTrans
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0,9839.64,0.00,0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0,1864.28,0.00,0,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0,181.00,0.00,1,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0,181.00,21182.00,1,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0,11668.14,0.00,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0,339682.13,-339682.13,1,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0,6311409.28,0.00,1,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0,6311409.28,-6311409.27,1,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0,850002.52,0.00,1,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0,850002.52,-850002.52,1,1,0

In [10]:
#Removed columns that were used to calculate values below.
new_df = df.drop(columns =[  "step", "amount","nameOrig","oldbalanceOrg", "newbalanceOrig","nameDest","oldbalanceDest","newbalanceDest","isFlaggedFraud", "netbalanceOrig", "netbalanceDest"])
new_df

             type  isFraud  M or C  ZeroBal  LargeTrans
0         PAYMENT        0       0        0           0
1         PAYMENT        0       0        0           0
2        TRANSFER        1       1        1           0
3        CASH_OUT        1       1        1           0
4         PAYMENT        0       0        0           0
...           ...      ...     ...      ...         ...
6362615  CASH_OUT        1       1        1           0
6362616  TRANSFER        1       1        1           0
6362617  CASH_OUT        1       1        1           0
6362618  TRANSFER        1       1        1           0
6362619  CASH_OUT        1       1        1           0

[6362620 rows x 5 columns]

In [11]:
#use one-hot-encoding to view transaction types with 1 or 0
clean_df =pd.get_dummies(new_df, prefix=["type"])
clean_df

,isFraud,M or C,ZeroBal,LargeTrans,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,1,0
2,1,1,1,0,0,0,0,0,1
3,1,1,1,0,0,1,0,0,0
4,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...
6362615,1,1,1,0,0,1,0,0,0
6362616,1,1,1,0,0,0,0,0,1
6362617,1,1,1,0,0,1,0,0,0
6362618,1,1,1,0,0,0,0,0,1
6362619,1,1,1,0,0,1,0,0,0

In [12]:
!pip install -U imbalanced-learn
from imblearn.over_sampling import SMOTE

Requirement already up-to-date: imbalanced-learn in c:\users\avina\anaconda3\lib\site-packages (0.7.0)
Requirement already satisfied, skipping upgrade: scikit-learn>=0.23 in c:\users\avina\anaconda3\lib\site-packages (from imbalanced-learn) (0.23.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\avina\anaconda3\lib\site-packages (from imbalanced-learn) (1.16.5)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\avina\anaconda3\lib\site-packages (from imbalanced-learn) (0.13.2)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\avina\anaconda3\lib\site-packages (from imbalanced-learn) (1.4.1)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\avina\anaconda3\lib\site-packages (from scikit-learn>=0.23->imbalanced-learn) (2.1.0)

In [13]:
#use all columns in clean_df except "isFraud" to see if can calculate fraud
X = clean_df.drop(["isFraud"], axis=1)
y = clean_df["isFraud"]
print(X.shape, y.shape)

(6362620, 8) (6362620,)

In [14]:
#as we have limited fraud data oversampling is used to get additional data point in the testing dataset to quantify validity of models

oversample = SMOTE()
X, y = oversample.fit_resample(X, y)

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
#use 75% of data to train model and 25% to test
X_train, X_test, y_train, y_test = train_test_split(
    X, y)

In [17]:
# import joblib 
# model = joblib.load('BankFraudDetection-check.sav')

In [18]:
from sklearn.naive_bayes import GaussianNB

In [19]:
#run and fit logistic regression model

model = GaussianNB()
model.fit(X_train,y_train)

GaussianNB()

In [20]:
#save model data
import joblib
filename = 'BankFraudDetection-Naive-Bayes.sav'
joblib.dump(model, filename)

['BankFraudDetection-Naive-Bayes.sav']

In [21]:
print(f"Training Data Score: {model.score(X_train, y_train)}")
print(f"Testing Data Score: {model.score(X_test, y_test)}")

Training Data Score: 0.7782633783799379
Testing Data Score: 0.7786840253254119

In [22]:
from sklearn.metrics import recall_score, precision_score, f1_score, accuracy_score

In [23]:
print(f"Training Data Score: {precision_score(y_train, model.predict(X_train))}")
print(f"Testing Data Score: {precision_score(y_test, model.predict(X_test))}")

Training Data Score: 0.697987975745944
Testing Data Score: 0.6987145794658024

In [24]:
print(f"Training Data Score: {recall_score(y_train, model.predict(X_train))}")
print(f"Testing Data Score: {recall_score(y_test, model.predict(X_test))}")

Training Data Score: 0.9807427759435299
Testing Data Score: 0.9806423049373096

In [25]:
from sklearn.metrics import recall_score, precision_score, f1_score, accuracy_score
print(f"Training Data Score: {f1_score(y_train, model.predict(X_train))}")
print(f"Testing Data Score: {f1_score(y_test, model.predict(X_test))}")

Training Data Score: 0.8155526599120853
Testing Data Score: 0.8160136562564924

In [26]:
print(f"Training Data Score: {accuracy_score(y_train, model.predict(X_train))}")
print(f"Testing Data Score: {accuracy_score(y_test, model.predict(X_test))}")

Training Data Score: 0.7782633783799379
Testing Data Score: 0.7786840253254119